div.card-header.league-name {
  font-size: 18px;
  font-weight:100;
  text-transform: uppercase;
}

.header-text {
  font-size: 16px;
  text-transform: uppercase;
  color: #aaa;
  font-weight: 100;
}

.smaller-header-text {
  font-size: 14px;
  text-transform: uppercase;
  color: #333;
}

.stats {
  display: flex;
  justify-content: space-evenly;
}

.card-stat {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.number-stat {
  font-size: 72px;
  font-weight: bold;
}

.stat-footer {
  display: flex;
  justify-content: center;
}

.stat-title {
  text-transform: uppercase;
  font-weight: 100;
}

.league-show-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.caption-text {
  font-size: 11px;
  text-transform: uppercase;
  color: gray;
  letter-spacing: 1px;
}

.league-actions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

a.list-group-item.list-group-item-action.stat-line.incomplete-or-future-game {
  background-color: lightgreen;
  display: flex;
  flex-direction: row;
}

.game-details {
}

.btn.btn-secondary.btn-inline {
}
