<div class="row justify-content-center">
  <%= render partial: 'league', locals: { leagues: @owned_leagues, title: 'Leagues You Run', owned: true } %>
  <%= render partial: 'league', locals: { leagues: @participated_leagues, title: 'Leagues You Participate In', owned: false } %>
</div>
