<p><%= @league.name %></p>
<p>Number of Seasons: <%= @league.seasons_count %></p>
<p>Total Number of Games: <%= @league.games_count %></p>
<p>Current Season Leader: <%= @league.current_season_leader %></p>
<p>League Leader:</p>
