<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card border-primary">
      <h5 class="card-header header-text border-primary text-primary">
        Notifications
      </h5>
      <ul class="list-group list-group-flush">
        <%= render partial: 'notification', collection: @notifications %>
      </ul>
    </div>
  </div>
</div>
