<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card border-primary">
      <h5 class="card-header header-text border-primary text-primary">
        Notifications
      </h5>
      <ul class="list-group list-group-flush">
        <% if @notifications.any? %>
          <%= render partial: 'notification', collection: @notifications %>
        <% else %>
          <li class="list-group-item">
            <div class="stat-line">
              No notifications
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
