<div class="row justify-content-center">
  <div class="card border-primary">
    <h5 class="card-header header-text border-primary text-primary">
      Membership
    </h5>
    <div class="card-body stat-line">
      <%= @notification.notification_text %>
      <div class="caption-text">
        <%= @notification.notification_status %>
      </div>
      <% if @notification.user_is_allowed?(current_user) %>
        <div class="notification-actions mt-3">
          <%= button_to 'Approve', membership_approve_path(@notification.notifiable, notification_id: @notification.id),  method: :patch, class:'btn btn-outline-primary btn-sm mr-2', disabled: @notification.has_decision? %>
          <%= button_to 'Reject', '#', class:'btn btn-outline-danger btn-sm', disabled: @notification.has_decision? %>
        </div>
      <% end %>
    </div>
  </div>
</div>
