<div class="stats row justify-content-md-center">
  <div class="card text-primary border-primary mb-3 ml-3 mr-3 col-md-3 pl-0 pr-0">
    <% if seasons_show? %>
    <div class="card-body card-stat">
      <div class="number-stat"><%= number_to_currency(subject.total_pot, precision: 0) %></div>
    </div>
    <div class="card-footer stat-footer">
      <div class="stat-title">Season Pot Size</div>
    </div>
    <% else %>
    <div class="card-body card-stat">
      <div class="number-stat"><%= @league.seasons_count %></div>
    </div>
    <div class="card-footer stat-footer">
      <div class="stat-title">Number of Seasons</div>
    </div>
    <% end %>
  </div>
  <div class="card text-secondary border-secondary mb-3 col-md-3 ml-3 mr-3 pl-0 pr-0">
    <div class="card-body card-stat">
      <div class="number-stat"><%= subject.games_count %></div>
    </div>
    <div class="card-footer stat-footer">
      <div class="stat-title">Total Number of Games</div>
    </div>
  </div>
  <div class="card text-success border-success mb-3 col-md-3 ml-3 mr-3 pl-0 pr-0">
    <div class="card-body card-stat">
      <div class="number-stat"><%= subject.average_players_per_game %></div>
    </div>
    <div class="card-footer stat-footer">
      <div class="stat-title">Average Players / Game</div>
    </div>
  </div>
</div>
