.game-actions {
  display: flex;
  & > form.button_to > input {
    cursor: not-allowed;
  }
}

.list-group-item.standing {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.game-player-actions {
  display: flex
}

a.new-user-link {
  padding-top: 10px;
  color: goldenrod;
  &:hover {
    text-decoration: none;
  }
}
