nav.navbar {
  margin-bottom: 10px;
}
nav.navbar > div.container > a.navbar-brand {
  text-transform: uppercase;
  text-shadow: 2px 2px 5px #eee;
  & > span {
    font-weight: bold;
    color: goldenrod;
  }
}

