nav.navbar {
  margin-bottom: 10px;
}
nav.navbar > div.container > a.navbar-brand {
  text-transform: uppercase;
  text-shadow: 2px 2px 5px #eee;
  & > span {
    font-weight: bold;
    color: goldenrod;
  }
}

li.nav-item > a.nav-link, .dropdown-item {
  color: goldenrod !important;
  font-size: 12px;
  font-weight: 300 !important;
  text-transform: uppercase;
  letter-spacing: 1px !important;
  &:active {
    background: transparent !important;
  }
}
